<!DOCTYPE html>
<html ng-app="store">
<head>
  <!-- Le styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/store.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="StoreController as store">

  <div class="store-container">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products | orderBy: '-price'">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
        <!-- Image Gallery  -->
        <div class='gallery' ng-controller="GalleryController as gallery" ng-show="product.images.length">
          <img ng-src="{{product.images[gallery.current]}}" />
          <ul class="list-inline thumbs">
            <li class="thumbnail" ng-repeat="image in product.images">
              <img ng-src="{{image}}" ng-click="gallery.setCurrent($index)" />
            </li>
          </ul>
        </div>


        <selection ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{active : panel.isSelected(1)}">
              <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{active : panel.isSelected(2)}">
              <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class="{active : panel.isSelected(3)}">
              <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>

          <div class="panel">
            <!-- Description custom directive -->
            <product-description ng-show="panel.isSelected(1)"></product-description>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)" product-specs>
              <!-- Specs custom atribute -->
          </div>
          <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <!-- Shows all reviews -->
            <blockquote ng-repeat="review in product.reviews">
              <b>Stars: {{review.stars}}</b>
              {{review.body}}
              <cite>by: {{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
            <!-- Add new review with preview -->
            <h4>Submit a review:</h4>
            <!--  Review Form -->
            <form name="reviewForm" ng-controller='ReviewController as reviewCtrl' ng-submit='reviewForm.$valid && reviewCtrl.addReview(product)' novalidate>
              <!--  Live Preview -->
              <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
              </blockquote>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
          </div>
        </selection>

        <button ng-show="product.canPurchase">Add to cart</button>

      </li>
    </ul>
  </div>
  <!-- Le javascript -->
  <script type="text/javascript" src="angular.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
