
.store-container{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.nav-pills>li>a{
  color: #A41E67;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #A41E67 !important;
  color: white;
}

.thumbnail img{
  max-height: 50px;
}

.review-form-container{
  width: 50%;
}

.review-form-container > select,
.review-form-container > textarea,
.review-form-container > input {
  width: 100%;
}
