
.store-container{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.nav-pills>li>a{
  color: #A41E67;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #A41E67 !important;
  color: white;
}

.thumbnail img{
  max-height: 50px;
}

.ng-invalid.ng-dirty{
  border-color:red;
}

.ng-valid.ng-dirty{
  border-color:green;
}
